# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'fdd26932-ec3a-45dd-bf8b-57a831bc0008'
  imageRepository: 'quarkushello-native'
  containerRegistry: 'faskanquarkusregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/src/main/docker/Dockerfile.native'
  tag: 'latest'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Maven@3
      displayName: Maven build
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'package'
        options: '-Pnative -Dquarkus.native.container-build=true'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        publishJUnitResults: false
        testResultsFiles: '**/TEST-*.xml'

    - task: Docker@2
      displayName: Build docker image and mage to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
